<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<p th:text="'Following contact added successfully...'" />
	<p th:text="'UserId: ' + ${userId} " />
	<p th:text="'Password: ' + ${password} " />
	<p th:text="'FirstName : ' + ${firstName} " />
	<p th:text="'LastName: ' + ${lastName} " />
	
	<a th:href="@{/}" th:text="'Home'" />
</body>

</html>